[package]
name = "chunk_cache"
version = "0.1.0"
edition = "2021"

[dependencies]
cas_types = { path = "../cas_types" }
merklehash = { path = "../merklehash" }
error_printer = { path = "../error_printer" }
xet_error = { path = "../xet_error" }
base64 = "0.22.1"
blake3 = "1.5.4"
tracing = "0.1.40"
rand = "0.8.5"

[dev-dependencies]
tempdir = "0.3.7"
sccache = "0.8.2"
moka = "0.7"
rand = "0.8"
criterion = "0.4"

[[bench]]
name = "cache_bench"
harness = false
