[package]
name = "cas_client"
version = "0.14.5"
edition = "2021"

[features]
strict = []

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
cas_types = { version = "0.1.0", path = "../cas_types" }
cas_object = { path = "../cas_object" }
chunk_cache = { path = "../chunk_cache" }
error_printer = { path = "../error_printer" }
file_utils = { path = "../file_utils" }
utils = { path = "../utils" }
merkledb = { path = "../merkledb" }
mdb_shard = { path = "../mdb_shard" }
merklehash = { path = "../merklehash" }
xet_threadpool = { path = "../xet_threadpool" }
deduplication = {path = "../deduplication" }
thiserror = "2.0"
tokio = { version = "1.44", features = ["sync"] }
async-trait = "0.1.9"
anyhow = "1"
http = "1.1.0"
tempfile = "3.13.0"
tracing = "0.1.31"
reqwest = { version = "0.12.15", features = ["json", "stream"] }
reqwest-middleware = "0.4.1"
url = "2.5.2"
reqwest-retry = "0.7.0"
futures = "0.3.31"
derivative = "2.2.0"

[target.'cfg(not(target_family = "wasm"))'.dependencies]
heed = "0.11"

[dev-dependencies]
httpmock = "0.7.0"
tracing-test = { version = "0.2.5", features = ["no-env-filter"] }