[package]
name = "git_xet"
version = "0.2.0"
edition = "2024"

[[bin]]
name = "git-xet"
path = "src/bin/main.rs"

[dependencies]
cas_client = { path = "../cas_client" }
data = { path = "../data" }
progress_tracking = { path = "../progress_tracking" }
utils = { path = "../utils" }
hub_client = { path = "../hub_client" }

anyhow = { workspace = true }
async-trait = { workspace = true }
clap = { workspace = true }
git-url-parse = { workspace = true }
git2 = { workspace = true }
rand_core = { workspace = true }
reqwest = { workspace = true }
reqwest-middleware = { workspace = true }
russh = { workspace = true }
rust-netrc = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
shell-words = { workspace = true }
tempfile = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }

[dev-dependencies]
serial_test = { workspace = true }

[features]
git-xet-for-integration-test = []
git2-vendored-openssl = ["git2/vendored-openssl"]

# tell cargo-machete a renamed crate
[package.metadata.cargo-machete.renamed]
rust-netrc = "netrc"
